*{
    margin:0px;
    padding:0px;
    letter-spacing:1px;
    box-sizing: border-box;
}
#site_header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#site_header>span
{
    display:flex;
    align-items: center;
}
#site_header>ul>li>a:link{
    background-color: brown;
    color: white;
    padding:10px;
    margin-right: 10px;
    border-bottom-right-radius:20px;
    border-top-left-radius: 20px;
    font-size:larger;
    text-transform:uppercase;
    text-decoration:none;
}
